<html>
  <head>
    <title>More Robert Heaton</title>
    {% include header.html %}
  </head>
  <body>
    <div id="fb-root"></div>
    {% include navbar.html %}
    <div class='container'>
      <div>
        <p style="color: #777879">
        <i>
          This is a bunch of somewhat shorter, more far-out, less painstakingly edited ideas I've wanted to write about. If you're looking for my main collection of full-on essays, <a href="http://robertheaton.com">you'll find that here</a>.
        </i>
        </p>
        <br/>
      </div>
      {{ content }}
      {% include rss.html %}
    </div>
    {% include footer.html %}
  </body>
</html>
